<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Search</title>
  <link rel="stylesheet" href="styles.css" />
  <style>
    body {
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    section {
      display:grid;
      gap:20px;
      grid-template-columns: repeat(3, 1fr)
    }
  </style>
</head>
<body>
  <h1>Search Results</h1>
  <h3>Found {{resultsNumber}} results for: {{searchingBy}}</h3>
  <a href="/export?word={{searchingBy}}">Export to CSV <i class="fas fa-file-excel"></i></a>
  <a href="https://superpyscraper.hyeoks.repl.co/">Go Back <i class="far fa-undo-alt"></i></a>
  <section>
    <h4>Title</h4>
    <h4>Company</h4>
    <h4>Link</h4>
    <!-- 잘 몰랐던 부분 나중에 다시 구글링해서 공부하기!! -->
    {% for job in jobs %} 
      <span>{{job.title}}</span>
      <span>{{job.company}}</span>
      <a href="{{job.link}}" target="_blank">Apply</a>
    {% endfor %}
  </section>
  <script src="https://kit.fontawesome.com/6787ce3e7f.js" crossorigin="anonymous">
  </script>
</body>
</html>